# created by GitHub Copilot
pkgbase = gnome-session48
	pkgdesc = GNOME 48 session handler for the legacy Shell startup protocol
	pkgver = 48.0
	pkgrel = 6
	url = https://gitlab.gnome.org/GNOME/gnome-session
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = glib2-devel
	makedepends = mesa
	makedepends = meson
	makedepends = python
	makedepends = xtrans
	depends = bash
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gnome-desktop
	depends = gnome-keyring
	depends = gsettings-desktop-schemas
	depends = gtk3
	depends = json-glib
	depends = libepoxy
	depends = libgl
	depends = libice
	depends = libsm
	depends = libx11
	depends = libxcomposite
	depends = libxtst
	depends = systemd
	depends = systemd-libs
	depends = xdg-desktop-portal-gnome
	provides = gnome-session=48.0
	conflicts = gnome-session
	source = git+https://gitlab.gnome.org/GNOME/gnome-session.git#tag=48.0
	b2sums = e7364791aae9fe2be01dc907218b5208eb7cb7aa27e18f34b41502459aab1333327ba0c82511d0021ee20758eb3dace4145be2a6776ee2cc90c8b04d4bcb738d

pkgname = gnome-session48
